<% layout('../layouts/default') -%>
<%-partial('../includes/header')%>

<div class="header">
	<h2>User's Index</h2>
</div>

<div class="menu">
	<a href="/users/new" class="btn">New user</a>
</div>

<div id="main">
		<table border="1">
			<tr>
				<th>Username</th>
				<th>FirstName</th>
				<th>LastName</th>			
				<th>Email</th>
				<th></th>						
				<th></th>			
			</tr>
	<% users.forEach(function (user) { %>
			<tr>
				<td><%= user.username %></td>
				<td><%= user.firstname %></td>
				<td><%= user.lastname %></td>				
				<td><%= user.email %></td>				
				<td></td>											
				<td><a href="/users/show/<%= user.id %>" class="btn primary">Show</a> <a href="/users/delete/<%= user.id %>" class="btn danger" onclick="return confirm('Are you sure you want to delete?')">Delete</a></td>															
			</tr>
	<% }); %>
		</table>
	<%- paginate(users) %>
</div>
